# Node.js
node_modules/

# Logs
logs
*.log

# Dependencias generadas automáticamente
package-lock.json
npm-debug.log*

# Environment variables
.env

# Configuración local
.env.local
.env.development.local
.env.test.local
.env.production.local
