<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  
    <title>Buenos Aires Basquet</title>
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css" />
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../public/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../public/css/responsive.css" rel="stylesheet" />
  </head>
  
  <body>
    <div class="hero_area2">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <div class="header_nav">
            <a class="navbar-brand brand_desktop" href="./index.html">
              <img src="../public/BUENOS AIRES BASQUET_LOGO_RGB.jpg" alt="" />
            </a>
            <div class="main_nav">
              <div class="top_nav">
                <ul class=" ">
                  <li class="">
                    <a class="" href="https://wa.me/5491150006768?text=Quiero%20hacer%20una%20consulta" target="_blank">
                      <img src="../public/images/telephone.png" alt="" />
                      <span>+54 9 11 5000-6768</span>
                    </a>
                  </li>                
                  <li class="">
                    <a class="" href="mailto:buenosairesbasquet@gmail.com">
                      <img src="../public/images/mail.png" alt="" />
                      <span>buenosairesbasquet@gmail.com</span>
                    </a>                  
                  </li>
                  <li class="">
                    <a class="" href="https://maps.app.goo.gl/uJMpnWwEtAgMhga2A" target="_blank">
                      <img src="../public/images/location.png" alt="" />
                      <span>Nuestras sedes</span>
                    </a>
                    
                  </li>
                </ul>
              </div>
              <div class="bottom_nav">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                  <a class="navbar-brand brand_mobile" href="index.html">
                    <img src="../public/BUENOS AIRES BASQUET__RGB_3.jpg" alt="" />
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                      <ul class="navbar-nav  ">
                        <li class="nav-item active">
                          <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="./sobrenosotros.html"> Sobre Nosotros </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="./clases.html"> Reservas </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="./login.html">Log in</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="container-center">
      <div class="registro-container">
        <form id="signupForm" class="registro-form" method="post" enctype="multipart/form-data" action="http://localhost:3000/user/registro">
          <h2>Registro</h2>
          <label for="fullName" class="registro-label">Nombre completo:</label>
          <input type="text" id="fullName" name="fullName" class="registro-input" pattern="[A-Za-zñÑáéíóúÁÉÍÓÚ\s]+" required>
    
          <label for="age" class="registro-label">Edad:</label>
          <input type="number" id="age" name="age" class="registro-input" required>
    
          <label for="email" class="registro-label">Correo electrónico:</label>
          <input type="email" id="email" name="email" class="registro-input" required>
    
          <label for="password" class="registro-label">Contraseña:</label>
          <input type="password" id="password" name="password" class="registro-input" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{6,}$" required>
          
          <label for="confirmPassword" class="registro-label">Confirmar contraseña:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="registro-input" required>
          <button type="button" class="registro-button" onclick="togglePassword()">Mostrar Contraseña</button>
          <button type="submit">Registrarse</button>
        </form>
      </div>
      </div>
      <script>
        const togglePassword = () => {
          const passwordField = document.getElementById("password");
          const confirmPasswordField = document.getElementById("confirmPassword");
      
          // Cambia el tipo de campo de contraseña entre "password" y "text"
          passwordField.type = passwordField.type === "password" ? "text" : "password";
          confirmPasswordField.type = confirmPasswordField.type === "password" ? "text" : "password";
        };
      </script>
      <!-- Script para validar y procesar el formulario -->
      <script src="../public/js/registro.js"></script>
    </div>
  </body>
</html>
